@import "tailwindcss";

:root {
  --main-header-height: 68px;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --color-body: oklch(0.967 0.001 286.375);
}

@layer components {

  body {
    @apply bg-zinc-100 text-zinc-900;
  }

  a {
    @apply text-zinc-500 hover:text-zinc-600 underline;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .font-bricolage {
    font-family: var(--font-bricolage);
  }

  .text-sm {
    @apply text-xs text-zinc-500 leading-normal tracking-tight
  }

  .text-md {
    @apply text-base text-zinc-500 leading-normal tracking-tight
  }

  .fade-in {
    animation: fade-in 3s ease-in-out;
  }

}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
