@import "tailwindcss";

:root {
  --main-header-height: 68px;
}

@layer components {
  body {
    background-color: #FEF7FF;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

}