@import "tailwindcss";

:root {
  --main-header-height: 68px;
  --font-inter: "Inter", sans-serif;
  --color-body: oklch(0.967 0.001 286.375);
  --color-gray: '#7A7A7A'
}

@layer components {

  body {
    @apply bg-neutral-100 ;
  }

  a {
    @apply text-zinc-500 hover:text-zinc-600 underline;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .font-inter {
    font-family: var(--font-inter);
  }

  .text-gray {
   color: '#7A7A7A';
  }

  h1 {
    @apply text-6xl md:text-[154px]  tracking-tight font-semibold text-black dark:text-white ;
  }

  h2 {
    @apply text-4xl md:text-[54px] pt-12 tracking-tight font-semibold text-black dark:text-white ;
  }

  h5 {
    @apply text-lg font-bold text-black dark:text-white ;
  }
  a {
    @apply no-underline
  }

  .text-sm {
    @apply text-xs text-zinc-500 leading-normal tracking-tight
  }

  .text-md {
    @apply text-base text-zinc-500 leading-normal tracking-tight
  }

  .text-body-lg {
    @apply text-[22px] text-black dark:text-white  font-normal leading-8 tracking-tighter text-center
  }

  .text-body-tag {
    @apply text-sm font-normal leading-normal tracking-tight
  }

  .text-body-gray {
    @apply text-lg text-[#7a7a7a] font-medium leading-normal tracking-tight
  }

  .rainbow-gradient {
    @apply bg-gradient-to-r from-[#C3EFFF] via-[#FECAFF] via-[#FEB5FF] via-[#FFDBE7] via-[#FFF4D6] via-[#F3FCD7] via-[#D2F5EE] via-[#C3EFFF] to-[#FBEFFF]
  }

  .container {
    @apply mx-auto p-4 sm:p-6 lg:p-8
  }

  .flex-center {
    @apply flex items-center justify-center
  }

  .flex-center-col {
    @apply flex flex-col items-center justify-center
  }

  .flex-between {
    @apply flex items-center justify-between
  }

  .btn {
    @apply py-3 px-5 dark:bg-white bg-black font-semibold dark:text-black text-white inline-flex whitespace-nowrap rounded-lg w-fit text-sm;
  }

  .tag {
    @apply py-2 px-4 border border-black/20 dark:border-white/20  text-black/50 dark:text-white/50 rounded-xl w-fit text-sm inline-flex ;
  }

  .mask-gradient {
    @apply absolute top-0 w-1/5 h-full dark:from-black from-white from-20% via-transparent via-30% to-transparent to-100%  z-10;
  }

  .bg-gradient {
    @apply  from-white dark:from-black from-20% to-[#DDBCFF] dark:to-[#5D2CA8] to-90%  ;
  }

  .fade-in {
    animation: fade-in 3s ease-in-out;
  }

  .bg-hero {
    @apply bg-cover bg-center bg-no-repeat  ;
  }

  .animate-shine {
    animation: shine linear infinite; 
  }
}


@keyframes shine {
  0% {
    background-position: 200% 0; 
  }
  100% {
    background-position: -200% 0; 
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
